In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
!pip install fastai2

Collecting fastai2
  Downloading fastai2-0.0.30-py3-none-any.whl (179 kB)
     |████████████████████████████████| 179 kB 603 kB/s
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from fastai2) (2.23.0)
Requirement already satisfied: spacy in /opt/conda/lib/python3.7/site-packages (from fastai2) (2.2.4)
Requirement already satisfied: pillow in /opt/conda/lib/python3.7/site-packages (from fastai2) (7.2.0)
Collecting fastcore>=0.1.34
  Downloading fastcore-1.0.9-py3-none-any.whl (37 kB)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.7/site-packages (from fastai2) (5.3.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from fastai2) (1.1.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from fastai2) (3.2.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from fastai2) (1.4.1)
Requirement already satisfied: pip in /opt/conda/lib/python3.7/site-packages (from fastai2) (20.2.2)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.7/site-packages (from fastai2) (0.23.2)
Requirement already satisfied: fastprogress>=0.2.4 in /opt/conda/lib/python3.7/site-packages (from fastai2) (1.0.0)
Collecting torch>=1.6.0
  Downloading torch-1.6.0-cp37-cp37m-manylinux1_x86_64.whl (748.8 MB)
     |████████████████████████████████| 748.8 MB 11 kB/s
Collecting torchvision>=0.7
  Downloading torchvision-0.7.0-cp37-cp37m-manylinux1_x86_64.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 17.5 MB/s
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from fastai2) (20.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->fastai2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->fastai2) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->fastai2) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->fastai2) (2.9)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (3.0.2)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (46.1.3.post20200325)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (0.4.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (0.8.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (1.0.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (4.45.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (1.1.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (1.0.0)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (1.18.5)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (2.0.3)
Requirement already satisfied: thinc==7.4.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.7/site-packages (from spacy->fastai2) (1.0.2)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas->fastai2) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas->fastai2) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->fastai2) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->fastai2) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->fastai2) (2.4.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn->fastai2) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.7/site-packages (from scikit-learn->fastai2) (0.14.1)
Requirement already satisfied: future in /opt/conda/lib/python3.7/site-packages (from torch>=1.6.0->fastai2) (0.18.2)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging->fastai2) (1.14.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /opt/conda/lib/python3.7/site-packages (from catalogue<1.1.0,>=0.0.7->spacy->fastai2) (1.7.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy->fastai2) (3.1.0)
Installing collected packages: fastcore, torch, torchvision, fastai2
  Attempting uninstall: torch
    Found existing installation: torch 1.5.1
    Uninstalling torch-1.5.1:
      Successfully uninstalled torch-1.5.1
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.6.0a0+35d732a
    Uninstalling torchvision-0.6.0a0+35d732a:
      Successfully uninstalled torchvision-0.6.0a0+35d732a
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

kornia 0.3.2 requires torch<1.6.0,>=1.5.0, but you'll have torch 1.6.0 which is incompatible.
allennlp 1.0.0 requires torch<1.6.0,>=1.5.0, but you'll have torch 1.6.0 which is incompatible.
Successfully installed fastai2-0.0.30 fastcore-1.0.9 torch-1.6.0 torchvision-0.7.0
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/opt/conda/bin/python3.7 -m pip install --upgrade pip' command.

In [ ]:
!pip install fastcore==0.1.35 ##Currently supported with fastai2

Collecting fastcore==0.1.35
  Downloading fastcore-0.1.35-py3-none-any.whl (31 kB)
Requirement already satisfied: pip in /opt/conda/lib/python3.7/site-packages (from fastcore==0.1.35) (20.2.2)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from fastcore==0.1.35) (20.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from fastcore==0.1.35) (1.18.5)
Collecting dataclasses
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->fastcore==0.1.35) (2.4.7)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from packaging->fastcore==0.1.35) (1.14.0)
Installing collected packages: dataclasses, fastcore
  Attempting uninstall: fastcore
    Found existing installation: fastcore 1.0.9
    Uninstalling fastcore-1.0.9:
      Successfully uninstalled fastcore-1.0.9
Successfully installed dataclasses-0.6 fastcore-0.1.35
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/opt/conda/bin/python3.7 -m pip install --upgrade pip' command.

In [ ]:
import fastcore
fastcore.__version__

'0.1.35'

In [ ]:
import fastai2
fastai2.__version__

'0.0.30'

###  Importing and Loading files

In [ ]:
from fastai2.tabular.all import *

In [ ]:
df_test= pd.read_csv('/kaggle/input/titanic-extended/test.csv')
df_train= pd.read_csv('../input/titanic-extended/train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,865.0,"Heikkinen, Miss Laina",26.0,"Jyväskylä, Finland",Southampton,New York City,14?,NaN,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,127.0,"Futrelle, Mrs. Lily May (née Peel)",35.0,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",D,NaN,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,627.0,"Allen, Mr. William Henry",35.0,"Birmingham, West Midlands, England",Southampton,New York City,NaN,NaN,3.0

In [ ]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,WikiId,Age_wiki,Class
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,889.000000,887.000000,889.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,665.466817,29.322063,2.307087
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,380.796997,13.930089,0.837713
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000,0.420000,1.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,336.000000,20.000000,2.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,672.000000,28.000000,3.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,996.000000,38.000000,3.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1314.000000,74.000000,3.000000

In [ ]:
df_train.isnull().sum().sort_index()/len(df_train)

Age            0.198653
Age_wiki       0.004489
Boarded        0.002245
Body           0.902357
Cabin          0.771044
Class          0.002245
Destination    0.002245
Embarked       0.002245
Fare           0.000000
Hometown       0.002245
Lifeboat       0.612795
Name           0.000000
Name_wiki      0.002245
Parch          0.000000
PassengerId    0.000000
Pclass         0.000000
Sex            0.000000
SibSp          0.000000
Survived       0.000000
Ticket         0.000000
WikiId         0.002245
dtype: float64

In [ ]:
df_train.dtypes
g_train =df_train.columns.to_series().groupby(df_train.dtypes).groups
g_train

{int64: ['PassengerId', 'Pclass', 'SibSp', 'Parch'], float64: ['Survived', 'Age', 'Fare', 'WikiId', 'Age_wiki', 'Class'], object: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Name_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body']}

In [ ]:
cat_names= [
        'Name', 'Sex', 'Ticket', 'Cabin', 
        'Embarked', 'Name_wiki', 'Hometown', 
        'Boarded', 'Destination', 'Lifeboat', 
        'Body'
]

cont_names = [ 
    'PassengerId', 'Pclass', 'SibSp', 'Parch', 
    'Age', 'Fare', 'WikiId', 'Age_wiki','Class'
 ]

### FastAI2

In [ ]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df_train))

to = TabularPandas(df_train, procs=[Categorify, FillMissing,Normalize],
                   cat_names = cat_names,
                   cont_names = cont_names,
                   y_names='Survived',
                   splits=splits)

In [ ]:
#df_train.dtypes
g_train =to.train.xs.columns.to_series().groupby(to.train.xs.dtypes).groups
g_train

{int8: ['Sex', 'Embarked', 'Boarded', 'Lifeboat', 'Body', 'Age_na', 'WikiId_na', 'Age_wiki_na', 'Class_na'], int16: ['Name', 'Ticket', 'Cabin', 'Name_wiki', 'Hometown', 'Destination'], float64: ['PassengerId', 'Pclass', 'SibSp', 'Parch', 'Age', 'Fare', 'WikiId', 'Age_wiki', 'Class']}

In [ ]:
to.train.xs.Age_na.head()

430    1
158    2
453    1
750    1
250    2
Name: Age_na, dtype: int8

In [ ]:
to.train

     PassengerId  Survived    Pclass  Name  Sex       Age     SibSp     Parch  \
430    -0.059897       1.0 -1.585850    93    2 -0.120416 -0.472176 -0.462981
158    -1.123753       0.0  0.827621   768    2 -0.120416 -0.472176 -0.462981
453     0.030061       1.0 -1.585850   291    2  1.492635  0.468220 -0.462981
750     1.191698       1.0 -0.379115   853    1 -1.963903  0.468220  0.811558
250    -0.763919       0.0  0.827621   674    2 -0.120416 -0.472176 -0.462981
..           ...       ...       ...   ...  ...       ...       ...       ...
867     1.649312       0.0 -1.585850   697    2  0.110020 -0.472176 -0.462981
193    -0.986860       1.0 -0.379115   580    2 -2.040715  0.468220  0.811558
14     -1.686971       0.0  0.827621   841    1 -1.195784 -0.472176 -0.462981
150    -1.155043       0.0 -0.379115    69    2  1.646259 -0.472176 -0.462981
580     0.526788       1.0 -0.379115   161    1 -0.350852  0.468220  0.811558

     Ticket      Fare  ...  Hometown  Boarded  Destination  Lifeboat  Body  \
430       4 -0.076707  ...       354        4          223        22     0
158     259 -0.525029  ...       300        4          148         0     0
453      85  1.491114  ...       291        2          149        13     0
750     235 -0.165683  ...       172        4            4         6     0
250     423 -0.560431  ...       293        4          148         0     0
..      ...       ...  ...       ...      ...          ...       ...   ...
867     591  0.523456  ...       385        4          216         0     0
193     114 -0.090492  ...       280        4          148        22     0
14      414 -0.545288  ...       324        4          123         0     0
150     623 -0.428222  ...       194        4          107         0    23
580     134  0.009761  ...       243        4          139         4     0

        Class  Age_na  WikiId_na  Age_wiki_na  Class_na
430 -1.585853       1          1            1         1
158  0.827622       2          1            1         1
453 -1.585853       1          1            1         1
750 -0.379115       1          1            1         1
250  0.827622       2          1            1         1
..        ...     ...        ...          ...       ...
867 -1.585853       1          1            1         1
193 -0.379115       1          1            1         1
14   0.827622       1          1            1         1
150 -0.379115       1          1            1         1
580 -0.379115       1          1            1         1

[713 rows x 25 columns]

In [ ]:
to.train.xs

,Name,Sex,Ticket,Cabin,Embarked,Name_wiki,Hometown,Boarded,Destination,Lifeboat,...,Class_na,PassengerId,Pclass,SibSp,Parch,Age,Fare,WikiId,Age_wiki,Class
430,93,2,4,72,3,89,354,4,223,22,...,1,-0.059897,-1.585850,-0.472176,-0.462981,-0.120416,-0.076707,-1.694354,-0.099986,-1.585853
158,768,2,259,0,3,732,300,4,148,0,...,1,-1.123753,0.827621,-0.472176,-0.462981,-0.120416,-0.525029,1.479525,0.551559,0.827622
453,291,2,85,87,1,272,291,2,149,13,...,1,0.030061,-1.585850,0.468220,-0.462981,1.492635,1.491114,-1.430308,1.275499,-1.585853
750,853,1,235,0,3,818,172,4,4,6,...,1,1.191698,-0.379115,0.468220,0.811558,-1.963903,-0.165683,-0.195430,-1.837440,-0.379115
250,674,2,423,0,3,642,293,4,148,0,...,1,-0.763919,0.827621,-0.472176,-0.462981,-0.120416,-0.560431,1.268822,-0.751531,0.827622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,697,2,591,7,3,663,385,4,216,0,...,1,1.649312,-1.585850,-0.472176,-0.462981,0.110020,0.523456,-1.147593,0.117196,-1.585853
193,580,2,114,142,3,555,280,4,148,22,...,1,-0.986860,-0.379115,0.468220,0.811558,-2.040715,-0.090492,-0.387463,-1.909834,-0.379115
14,841,1,414,0,3,806,324,4,123,0,...,1,-1.686971,0.827621,-0.472176,-0.462981,-1.195784,-0.545288,1.650221,-1.113501,0.827622
150,69,2,623,0,3,69,194,4,107,0,...,1,-1.155043,-0.379115,-0.472176,-0.462981,1.646259,-0.428222,-0.878214,1.565074,-0.379115
580,161,1,134,0,3,151,243,4,139,4,...,1,0.526788,-0.379115,0.468220,0.811558,-0.350852,0.009761,-0.776863,-0.317168,-0.379115

In [ ]:
to.train.ys.values.ravel()

array([1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0.,
       0., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1.,
       0., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
       0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0.,
       1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1.,
       1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0.,
       1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0.,
       1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1.,
       1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 1.],
      dtype=float32)

In [ ]:
### RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier

X_train, y_train = to.train.xs, to.train.ys.values.ravel()
X_valid, y_valid = to.valid.xs, to.valid.ys.values.ravel()

In [ ]:
X_train.head()

,Name,Sex,Ticket,Cabin,Embarked,Name_wiki,Hometown,Boarded,Destination,Lifeboat,...,Class_na,PassengerId,Pclass,SibSp,Parch,Age,Fare,WikiId,Age_wiki,Class
430,93,2,4,72,3,89,354,4,223,22,...,1,-0.059897,-1.585850,-0.472176,-0.462981,-0.120416,-0.076707,-1.694354,-0.099986,-1.585853
158,768,2,259,0,3,732,300,4,148,0,...,1,-1.123753,0.827621,-0.472176,-0.462981,-0.120416,-0.525029,1.479525,0.551559,0.827622
453,291,2,85,87,1,272,291,2,149,13,...,1,0.030061,-1.585850,0.468220,-0.462981,1.492635,1.491114,-1.430308,1.275499,-1.585853
750,853,1,235,0,3,818,172,4,4,6,...,1,1.191698,-0.379115,0.468220,0.811558,-1.963903,-0.165683,-0.195430,-1.837440,-0.379115
250,674,2,423,0,3,642,293,4,148,0,...,1,-0.763919,0.827621,-0.472176,-0.462981,-0.120416,-0.560431,1.268822,-0.751531,0.827622

In [ ]:
rnf_classifier= RandomForestClassifier(n_estimators=100, n_jobs=-1)
rnf_classifier.fit(X_train,y_train)

RandomForestClassifier(n_jobs=-1)

In [ ]:
y_pred=rnf_classifier.predict(X_valid)


from sklearn.metrics import accuracy_score

accuracy_score(y_pred, y_valid)

0.9943820224719101

### TEST dataset

In [ ]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,928.0,"Kelly, Mr. James",19.0,"Unknown, Ireland",Southampton,New York City,NaN,70MB,3.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1297.0,"Wilkes, Mrs. Ellen",47.0,"Penzance, Cornwall, England",Southampton,"Akron, Ohio, US",16,NaN,3.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,518.0,"Myles, Mr. Thomas Francis",63.0,"Fermoy, Ireland[note 1]",Queenstown,"Waban, Massachusetts, US",NaN,NaN,2.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1303.0,"Wirz, Mr. Albert",27.0,"Uster, Switzerland",Southampton,"Beloit, Wisconsin, US",NaN,131MB,3.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,871.0,"Hirvonen, Mrs. Helga Elisabeth (née Lindqvist)",22.0,"Taalintehdas, Finland",Southampton,"Monessen, Pennsylvania, US",15,NaN,3.0

In [ ]:
df_test.dtypes
g_train =df_test.columns.to_series().groupby(df_test.dtypes).groups
g_train

{int64: ['PassengerId', 'Pclass', 'SibSp', 'Parch'], float64: ['Age', 'Fare', 'WikiId', 'Age_wiki', 'Class'], object: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Name_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body']}

In [ ]:
cat_names= [
        'Name', 'Sex', 'Ticket', 'Cabin', 
        'Embarked', 'Name_wiki', 'Hometown', 
        'Boarded', 'Destination', 'Lifeboat', 
        'Body'
]

cont_names = [ 
    'PassengerId', 'Pclass', 'SibSp', 'Parch', 
    'Age', 'Fare', 'WikiId', 'Age_wiki','Class'
 ]

In [ ]:
test = TabularPandas(df_test, procs=[Categorify, FillMissing,Normalize],
                   cat_names = cat_names,
                   cont_names = cont_names,
                   )

In [ ]:
X_test= test.train.xs

In [ ]:
X_test.head()

,Name,Sex,Ticket,Cabin,Embarked,Name_wiki,Hometown,Boarded,Destination,Lifeboat,...,Class_na,PassengerId,Pclass,SibSp,Parch,Age,Fare,WikiId,Age_wiki,Class
0,207,2,153,0,2,194,226,4,103,0,...,1,-1.727912,0.873482,-0.499470,-0.400248,0.386231,-0.497413,0.752828,-0.794545,0.871140
1,404,1,222,0,3,389,162,4,2,9,...,1,-1.719625,0.873482,0.616992,-0.400248,1.371369,-0.512278,1.729823,1.304755,0.871140
2,270,2,74,0,2,257,65,3,154,0,...,1,-1.711337,-0.315819,-0.499470,-0.400248,2.553536,-0.464100,-0.332721,2.504355,-0.311121
3,409,2,148,0,3,393,233,4,13,0,...,1,-1.703050,0.873482,-0.499470,-0.400248,-0.204852,-0.482475,1.745709,-0.194745,0.871140
4,179,1,139,0,3,167,208,4,94,7,...,1,-1.694763,0.873482,0.616992,0.619896,-0.598908,-0.417491,0.601910,-0.569620,0.871140

In [ ]:
X_test.dtypes
g_train =X_test.columns.to_series().groupby(X_test.dtypes).groups
g_train

{int8: ['Sex', 'Cabin', 'Embarked', 'Boarded', 'Lifeboat', 'Body', 'Age_na', 'Fare_na', 'WikiId_na', 'Age_wiki_na', 'Class_na'], int16: ['Name', 'Ticket', 'Name_wiki', 'Hometown', 'Destination'], float64: ['PassengerId', 'Pclass', 'SibSp', 'Parch', 'Age', 'Fare', 'WikiId', 'Age_wiki', 'Class']}

In [ ]:
X_test= X_test.drop('Fare_na', axis=1)

In [ ]:
y_pred=rnf_classifier.predict(X_test)

In [ ]:
y_pred= y_pred.astype(int)

In [ ]:
output= pd.DataFrame({'PassengerId':df_test.PassengerId, 'Survived': y_pred})
output.to_csv('my_submission_titanic.csv', index=False)
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1